body {
  margin: 0;
  background-color: black;
  color: white;
}

.sectionContainer {
  width: 100%;
  height:100vh;
}

.intro {
  background-image: url('./assets/fancy-cushion.webp');
}

.workHistory {
  background-image: url('./assets/oriental-tiles.png');
}